body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

.container{
    border: 1px solid black;
    height: 20rem;
    width: 20rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
}
.grid-item{
    background-color: aqua;
    border: .1px solid rgb(0, 0, 0);
}